<mat-toolbar color="primary" class="flex-shrink-0">
  <button mat-icon-button class="menu-icon" aria-label="Menu icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rent a Car</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="!authService.loggedIn()" [routerLink]="['/']" routerLinkActive="active">Login</button>
  <button mat-button *ngIf="!authService.loggedIn()" [routerLink]="['/register']" routerLinkActive="active">Register</button>
  <button mat-button *ngIf="authService.loggedIn()" (click)="authService.logout()">Logout</button>

</mat-toolbar>
<mat-sidenav-container class="flex-grow-1">
  <mat-sidenav mode="side" #sidenav>
    <mat-nav-list role="list">
      <mat-list-item (click)="sidenav.toggle()" role="listitem" [routerLink]="['/manage']" routerLinkActive="active">
        <mat-icon mat-list-icon>event</mat-icon>
        Manage Reservations
      </mat-list-item>
      <mat-list-item (click)="sidenav.toggle()" role="listitem" [routerLink]="['/create-car']"
        routerLinkActive="active">
        <mat-icon mat-list-icon>drive_eta</mat-icon>
        Add Car
      </mat-list-item>
      <mat-list-item (click)="sidenav.toggle()" role="listitem" [routerLink]="['/users']" routerLinkActive="active">
        <mat-icon mat-list-icon>person_add</mat-icon>
        My Users
      </mat-list-item>
      <mat-list-item (click)="sidenav.toggle()" role="listitem" [routerLink]="['/main']" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        Main Page
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
