<div class="container">
  <mat-card class="mt-3">
    <mat-card-content>
      <app-datepicker></app-datepicker>
    </mat-card-content>
  </mat-card>

  <ng-container *ngFor="let car of cars; let i = index">
    <mat-card class="mt-3">
      <mat-card-title>{{car.brand}}</mat-card-title>
      <mat-card-subtitle>{{car.model}}}</mat-card-subtitle>
      <img mat-card-image src="{{path}}/{{ car.imgUrl }}" alt="{{car.brand}} {{car.model}} - Photo">
      <mat-card-content>

      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions align="end">

      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
